/* REMOVE DEFAULT CSS EFFECT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    position: sticky;
    overflow: hidden;
    
}
header ul {
    display: flex;
    
}

header ul li {
    list-style-type: none;
    /* NOTE TGAT 1REM =16PX */
    margin-right: 1rem; 
}

header h1 {
	margin-left: 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

/* UTILITIES */
.Dev {
    color: thistle;
}

.mount {
    color: burlywood;
}

/* SHOWCASE */
.showcase {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url("femalecomp.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    margin-top: 50px;
    background-color: blueviolet;
    padding: 5px;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 30px;
    text-decoration: none;

}

.active {
    transition: 0.5s;
}

.active:hover {
    transform: scale(0.8);
    background-color: grey;
    height: 100%;
    padding: 5px;
    color: black;
}

.btn:hover {
    transform: scale(0.8);
    background-color: moccasin;
    height: 6%;
    padding: 5px;
    color: black;
}